.countries-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #1f1f2f;
  border: 1px solid #334155;
  border-bottom: none;
}
.country-name {
  font-family: Roboto;
  color: #ffffff;
  margin-left: 15px;
  font-size: 17px;
}
.visited-text {
  color: #94a3b8;
  font-size: 17px;
  font-family: Roboto;
  margin-right: 40px;
}
.filled-button {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: Roboto;
  width: 100px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 4px;
}
